name: Publish Release

on:
  push:
    branches: ["main"]
    paths-ignore:
      - .github/workflows/*
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x
      - name: get version
        id: version
        uses: notiz-dev/github-action-json-property@release
        with:
          path: "plugin.json"
          prop_path: "Version"
      - run: echo ${{steps.version.outputs.prop}}
      - name: Publish
        run: |
          dotnet publish 'Flow.Launcher.Plugin.Flow.Plugin.TraeWorkspace.csproj' -r win-x64  -c Release -o "Flow.Launcher.Plugin.Flow.Plugin.TraeWorkspace-${{steps.version.outputs.prop}}"
          7z a -tzip "Flow.Launcher.Plugin.Flow.Plugin.TraeWorkspace-${{steps.version.outputs.prop}}.zip" "./Flow.Launcher.Plugin.Flow.Plugin.TraeWorkspace-${{steps.version.outputs.prop}}/*"
          rm -r "Flow.Launcher.Plugin.Flow.Plugin.TraeWorkspace-${{steps.version.outputs.prop}}"
      - name: Publish
        uses: softprops/action-gh-release@v1
        with:
          files: "Flow.Launcher.Plugin.Flow.Plugin.TraeWorkspace*.zip"
          tag_name: "v${{steps.version.outputs.prop}}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
